<template>
  <v-list
    v-if="reversedAnswers?.length && !currentResult"
    density="compact"
    class="Answers my-4"
  >
    <h4>Answers</h4>

    <div class="answer-list">
      <v-list-item
        v-for="(answer, index) in reversedAnswers"
        :key="index"
        lines="two"
      >
        <v-list-item-title>{{ answer.question }}</v-list-item-title>
        <v-list-item-subtitle>{{ answer.answer }}</v-list-item-subtitle>
      </v-list-item>
    </div>
  </v-list>
</template>
<script>
import { mapState } from 'pinia'
import { useQuestionsStore } from '~/store/questions'
import { useCategoriesStore } from '~/store/categories'

export default {
  name: 'Answers',
  computed: {
    ...mapState(useQuestionsStore, ['answers', 'result']),
    ...mapState(useCategoriesStore, ['currentCategory']),
    currentAnswers() {
      return this.answers[this.currentCategory]
    },
    currentResult() {
      return this.result[this.currentCategory]
    },
    reversedAnswers() {
      if (!this.currentAnswers) return this.currentAnswers
      return [].concat(this.currentAnswers).reverse()
    },
  },
}
</script>
<style lang="scss" scoped>
h4 {
  padding-bottom: 8px;
}
.answer-list {
  max-height: 500px;
  overflow: auto;
}
</style>
