<template>
  <div v-if="question" class="Question">
    <ul class="tags">
      <li v-for="(tag, index) in question.tags" :key="index">
        <v-chip size="small">
          {{ tag }}
        </v-chip>
      </li>
    </ul>
    <p class="question-text">
      {{ question.question }}
    </p>

    <div class="actions">
      <v-btn color="primary" @click="onYes"> Yes </v-btn>
      <v-btn secondary @click="onNo"> No </v-btn>
    </div>
    <v-progress-linear
      class="mt-6"
      :model-value="(question.id * 100) / questions.length"
    />
  </div>
</template>

<script>
import { mapState } from 'pinia'
import { useQuestionsStore } from '~/store/questions'

export default {
  name: 'Question',
  props: {
    question: {
      type: Object,
      default: () => {},
    },
  },
  computed: {
    ...mapState(useQuestionsStore, ['questions', 'currentQuestion']),
  },
  methods: {
    onYes() {
      this.$emit('answer', 'Yes')
    },
    onNo() {
      this.$emit('answer', 'No')
    },
  },
}
</script>
<style lang="scss" scoped>
.Question {
  .tags {
    margin: 0 0 20px;
    padding: 0;

    li {
      display: inline-block;
      list-style: none;
      margin-right: 8px;
    }
  }

  .actions {
    display: flex;
    gap: 16px;
    margin-top: 16px;
  }
}
</style>
