<template>
  <div class="Questionnaire">
    <Question
      v-if="currentQuestion"
      :question="currentQuestion"
      @answer="onAnswer"
    />
    <Submission v-else @reset="$emit('reset')" />
  </div>
</template>
<script>
import { mapActions, mapState } from 'pinia'
import Question from '~/components/home/Question'
import Submission from '~/components/home/Submission'
import { useQuestionsStore } from '~/store/questions'

export default {
  name: 'Questionnaire',
  components: {
    Question,
    Submission,
  },
  emits: ['reset'],
  data() {
    return {
      panel: 0,
    }
  },
  computed: {
    ...mapState(useQuestionsStore, ['questions', 'currentQuestion']),
  },
  methods: {
    ...mapActions(useQuestionsStore, {
      answerQuestion: 'answerQuestion',
    }),
    onAnswer(answer) {
      this.answerQuestion(answer)
    },
  },
}
</script>
<style scoped>
.Questionnaire {
  width: 100%;
}
</style>
