<template>
  <v-list v-if="resultForCategory?.length" density="compact" class="Result">
    <h4>Results</h4>

    <v-banner v-if="isCompliant" single-line border>
      <v-icon class="icon" color="success" size="36"> mdi-check-circle </v-icon>
      {{ title }}

      <template #actions />
    </v-banner>
    <v-banner v-if="!isCompliant" single-line border>
      <v-icon color="error" size="36"> mdi-close-circle </v-icon>
      {{ title }}
    </v-banner>

    <div v-if="!isCompliant" class="result-list">
      <v-list-item v-for="(result, index) in resultForCategory" :key="index">
        <v-list-item-title>{{ result }}</v-list-item-title>
      </v-list-item>
    </div>
  </v-list>
</template>
<script>
import { mapState } from 'pinia'
import { useQuestionsStore } from '~/store/questions'
import { useCategoriesStore } from '~/store/categories'

export default {
  name: 'Result',
  computed: {
    ...mapState(useQuestionsStore, ['result']),
    ...mapState(useCategoriesStore, ['currentCategory']),
    title() {
      if (this.isCompliant)
        return 'Success! You are compliant to this section of the standard.'
      else {
        return 'You are not compliant to this section of the standard. Here is what you can do:'
      }
    },
    isCompliant() {
      return (
        this.resultForCategory.length === 1 &&
        this.resultForCategory[0] === 'Proceed to next section'
      )
    },
    resultForCategory() {
      return this.result[this.currentCategory]
    },
  },
}
</script>
<style lang="scss" scoped>
h4 {
  padding-bottom: 8px;
}
.result-list {
  max-height: 500px;
  overflow: auto;
}
.icon {
  margin-right: 8px;
}
</style>
