<template>
  <div class="Stepper">
    <v-stepper v-model="step">
      <template v-for="(category, index) in categories" :key="category">
        <v-stepper-header>
          <v-stepper-item
            :title="category"
            :value="index"
            :complete="categories.indexOf(currentCategory) > index"
          />
        </v-stepper-header>

        <v-stepper-window
          v-show="categories.indexOf(currentCategory) === index"
          direction="vertical"
        >
          <v-stepper-window-item :value="index">
            <slot name="questionnaire" />

            <div v-if="nextCategoryIsAvailable" class="actions">
              <v-btn color="primary" @click="proceedToNextSection">
                Next section
              </v-btn>
            </div>
          </v-stepper-window-item>
        </v-stepper-window>
      </template>
    </v-stepper>
  </div>
</template>
<script>
import { mapState } from 'pinia'
import { useCategoriesStore } from '~/store/categories'
import { useQuestionsStore } from '~/store/questions'

export default {
  name: 'Stepper',
  components: {},

  computed: {
    ...mapState(useCategoriesStore, ['categories', 'currentCategory']),
    ...mapState(useQuestionsStore, ['result', 'currentQuestion']),
    nextCategoryIsAvailable() {
      if (!(this.currentCategory in this.result)) return false
      if (this.currentCategory === this.categories.slice(-1)[0]) return false
      return this.result[this.currentCategory][0] === 'Proceed to next section'
    },
  },
  emits: ['goToNextSection'],
  data() {
    return {
      step: 0,
    }
  },
  mounted() {
    this.step = this.categories.indexOf(this.currentCategory)
  },
  methods: {
    proceedToNextSection() {
      this.step++
      this.$emit('goToNextSection')
    },
  },
}
</script>
<style lang="scss" scoped>
.Stepper {
  width: 100%;

  .actions {
    margin-top: 24px;
  }
}
</style>
