<template>
  <div v-if="!submitted" class="Submission">
    <p>Are you ready to submit this section?</p>

    <div class="actions">
      <v-btn color="primary" @click="onSubmit"> Submit </v-btn>
      <v-btn @click="$emit('reset')"> No, reset all </v-btn>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'pinia'
import { useQuestionsStore } from '~/store/questions'
import { useCategoriesStore } from '~/store/categories'

export default {
  name: 'Submission',
  data() {
    return {
      submitted: false,
    }
  },
  computed: {
    ...mapState(useCategoriesStore, ['currentCategory']),
  },
  methods: {
    ...mapActions(useQuestionsStore, ['postAnswers']),

    async onSubmit() {
      await this.postAnswers(this.currentCategory)
      this.submitted = true
    },
  },
}
</script>
<style scoped>
p {
  margin: 8px 0 16px;
}
.actions {
  display: flex;
  gap: 16px;
}
</style>
