<template>
  <v-app-bar fixed app color="primary">
    <v-app-bar-title>
      <NuxtLink class="logo-link" to="/">Compliance bot</NuxtLink>
    </v-app-bar-title>
  </v-app-bar>
</template>

<script>
export default {
  name: 'NavBar',
  data() {
    return {
      links: [
        {
          title: 'Home',
          to: '/',
        },
      ],
      title: 'Compliance questionnaire',
    }
  },
}
</script>
<style type="text/scss" scoped>
.logo-link {
  color: white;
  text-decoration: none;
}
</style>
