<template>
  <v-app>
    <NavBar />
    <v-main class="mt-8">
      <v-container>
        <slot />
      </v-container>
    </v-main>
    <v-footer>
      <span>&copy; Diana Licheva {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
import NavBar from '~/components/NavBar'

definePageMeta({ layout: 'DefaultLayout' })
export default {
  components: {
    NavBar,
  },
}
</script>

<style lang="scss">
h1 {
  font-size: 42px;
  line-height: 52px;
  margin-bottom: 0.27em;
}
h2 {
  line-height: 30px;
  margin-bottom: 0.95em;
  font-size: 24px;
}
</style>
