<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="12" md="12">
      <v-row>
        <h1>{{ certification }}</h1>
      </v-row>
      <v-row v-if="loading">
        <div class="text-center loading-container">
          <v-progress-circular indeterminate color="primary" />
        </div>
      </v-row>
      <v-row v-if="!loading">
        <Stepper @go-to-next-section="loadNextSection()">
          <template #questionnaire>
            <Questionnaire @reset="loadData" />
            <Answers />
            <Result />
          </template>
        </Stepper>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import { mapState, mapActions } from 'pinia'
import Questionnaire from '~/components/home/Questionnaire'
import Answers from '~/components/home/Answers'
import Result from '~/components/home/Result'
import Stepper from '~/components/home/Stepper'

import { useCertificationsStore } from '@/store/certifications'
import { useQuestionsStore } from '@/store/questions'
import { useCategoriesStore } from '@/store/categories'

export default {
  name: 'HomePage',
  components: {
    Answers,
    Questionnaire,
    Result,
    Stepper,
  },
  computed: {
    ...mapState(useCertificationsStore, ['certification']),
    ...mapState(useCategoriesStore, ['categories', 'currentCategory']),
    ...mapState(useQuestionsStore, ['questions', 'currentQuestion', 'answers']),
  },
  data() {
    return {
      tab: 'questions',
      loading: true,
    }
  },
  async mounted() {
    await this.loadData()
  },
  methods: {
    ...mapActions(useCertificationsStore, {
      getCertification: 'getCertification',
    }),
    ...mapActions(useCategoriesStore, {
      getCategories: 'getCategories',
      setCurrentCategory: 'setCurrentCategory',
    }),
    ...mapActions(useQuestionsStore, {
      getQuestions: 'getQuestions',
      resetQuestions: 'resetQuestions',
      reset: 'reset',
    }),
    async loadData() {
      this.reset()
      this.loading = true
      await Promise.all([this.getCertification(), this.getCategories()])
      this.setCurrentCategory(this.categories[0])
      await this.getQuestions(this.currentCategory)
      this.loading = false
    },
    async loadNextSection() {
      this.resetQuestions()
      const nextCategoryId = this.categories.indexOf(this.currentCategory) + 1
      this.setCurrentCategory(this.categories[nextCategoryId])
      await this.getQuestions(this.currentCategory)
    },
  },
}
</script>
<style lang="scss" scoped>
.main-card {
  width: 100%;
}
.loading-container {
  margin-top: 60px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
</style>
