<template>
  <v-row justify="center" align="center"> Loading... </v-row>
</template>

<script>
export default {
  name: 'IndexPage',
  mounted() {
    const router = useRouter()
    router.push({ name: 'home' })
  },
}
</script>
